<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>wNum</title>
  </head>
  <body>
    <form class="" action="/" method="post">
      <label for="phn">phone number</label>
      <input type="text" name="phn" value="">
      <button type="submit" name="button">get otp</button>
    </form>
  </body>
</html>
