<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>wNum</title>
  </head>
  <body>
    <form class="" action="/otp/<%=phn%>" method="post">
      <label for="otp">otp</label>
      <input type="text" name="otp" value="">
      <button type="submit" name="button">verify</button>
    </form>
  </body>
</html>
